.hidden{
    display: none;
}

.no-gutter{
    padding-right:0;
    padding-left:0;
}

h3{
    margin-top: 0px;
}           

h4{
    width: 90%;
    margin: 0px 0px !important;
    
}

h5{
    margin: -10px 0px 0px 0px !important;;
}

#theContent{
    width: 1012px;
}

.legend {
    fill: lightslategrey;
}

#selector{
    display: table;
}

.middle h1 {
    color: #fff;
}

.middle input[type="radio"] {
    display: none;
}

.middle input[type="radio"]:checked{
    opacity: .75;
}

.middle input[type="radio"]:checked + #all{
    background-color: rgba(119, 136, 153,0.7);
}

.middle input[type="radio"]:checked + #pm{
    background-color: rgba(255,105,105,0.7);
}

.middle input[type="radio"]:checked + #qm{
    background-color: rgba(87,179,255,0.7);
}

.middle input[type="radio"]:checked + #dm{
    background-color: rgba(122,226,122,0.7);
}
.middle input[type="radio"]:checked + .box span {
    color: white !important;
}
.middle input[type="radio"]:checked + .box span:before {
    opacity: 1;
}
.middle .box {
    width: 168px;
    height: 40px;
    border-bottom: 5px solid lightslategray;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.middle .box span {
    position: absolute;
    transform: translate(0, 10px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    color: lightgrey;
}
.middle .box span:hover{
    color: lightslategrey;
}

#pm{
    border-bottom: 3px solid #FF6969;
}

#qm{
    border-bottom: 3px solid #57B3FF;
}

#dm{
    border-bottom: 3px solid #7AE27A;
}

#pm span{
    color: #FF6969;
}

#qm span{
    color: #57B3FF;
}

#dm span{
    color: #7AE27A;
}

#project{
    display: none;
}

#delivery{
    display: none;
}

#quality{
    display: none;
}

#personaText{
    color: black;
    display: inherit;
}

.manager{
    margin-top: 10px;
    height: 425px;
    overflow: hidden;
}

.manager p{
    margin: 5px 0px 5px 0px !important;
    font-size: 14px;
    letter-spacing: inherit;
    line-height: 1.42857143;
}